In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import seaborn as sns
df = pd.read_csv('/Users/marina/Desktop/project_2/data/raw/merged_data.csv')

/var/folders/yl/d5x0r6t10l52bms12sy70rzc0000gn/T/ipykernel_1265/1679905575.py:6: DtypeWarning: Columns (4,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/marina/Desktop/project_2/data/raw/merged_data.csv')

In [3]:
df

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,visitor_id,visit_id,process_step,date_time
0,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:51:13
1,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:47:50
2,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:46:45
3,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,step_3,2017-04-02 11:23:08
4,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,step_2,2017-04-02 11:22:24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755400,9668240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
755401,9668240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
755402,9668240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
755403,9668240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
755404,674799,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [7]:
df['Variation'].unique()

array(['Test', 'Control', nan], dtype=object)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         755405 non-null  int64
 1   clnt_tenure_yr    449716 non-null  float64
 2   clnt_tenure_mnth  449716 non-null  float64
 3   clnt_age          449704 non-null  float64
 4   gendr             449716 non-null  object
 5   num_accts         449716 non-null  float64
 6   bal               449716 non-null  float64
 7   calls_6_mnth      449716 non-null  float64
 8   logons_6_mnth     449716 non-null  float64
 9   Variation         321309 non-null  object
 10  visitor_id        755405 non-null  object
 11  visit_id          755405 non-null  object
 12  process_step      755405 non-null  object
 13  date_time         755405 non-null  object
dtypes: float64(7), int64(1), object(6)
memory usage: 80.7+ MB

In [13]:
df.columns = df.columns.str.strip().str.lower()

# Display the DataFrame to verify changes
print(df)

        client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  \
0          836976             6.0              73.0      60.5     U
1          836976             6.0              73.0      60.5     U
2          836976             6.0              73.0      60.5     U
3          836976             6.0              73.0      60.5     U
4          836976             6.0              73.0      60.5     U
...           ...             ...               ...       ...   ...
755400    9668240             NaN               NaN       NaN   NaN
755401    9668240             NaN               NaN       NaN   NaN
755402    9668240             NaN               NaN       NaN   NaN
755403    9668240             NaN               NaN       NaN   NaN
755404     674799             NaN               NaN       NaN   NaN

        num_accts      bal  calls_6_mnth  logons_6_mnth variation  \
0             2.0  45105.3           6.0            9.0      Test
1             2.0  45105.3           6.0            9.0      Test
2             2.0  45105.3           6.0            9.0      Test
3             2.0  45105.3           6.0            9.0      Test
4             2.0  45105.3           6.0            9.0      Test
...           ...      ...           ...            ...       ...
755400        NaN      NaN           NaN            NaN       NaN
755401        NaN      NaN           NaN            NaN       NaN
755402        NaN      NaN           NaN            NaN       NaN
755403        NaN      NaN           NaN            NaN       NaN
755404        NaN      NaN           NaN            NaN       NaN

                   visitor_id                     visit_id process_step  \
0        427070339_1413275162  228976764_46825473280_96584      confirm
1        427070339_1413275162  228976764_46825473280_96584      confirm
2        427070339_1413275162  228976764_46825473280_96584      confirm
3        427070339_1413275162  228976764_46825473280_96584       step_3
4        427070339_1413275162  228976764_46825473280_96584       step_2
...                       ...                          ...          ...
755400   388766751_9038881013  922267647_3096648104_968866        start
755401   388766751_9038881013  922267647_3096648104_968866        start
755402   388766751_9038881013  922267647_3096648104_968866       step_1
755403   388766751_9038881013  922267647_3096648104_968866        start
755404  947159805_81558194550  86152093_47511127657_716022        start

                  date_time
0       2017-04-02 11:51:13
1       2017-04-02 11:47:50
2       2017-04-02 11:46:45
3       2017-04-02 11:23:08
4       2017-04-02 11:22:24
...                     ...
755400  2017-05-24 18:46:10
755401  2017-05-24 18:45:29
755402  2017-05-24 18:44:51
755403  2017-05-24 18:44:34
755404  2017-06-03 12:17:09

[755405 rows x 14 columns]

In [39]:
print(df['clnt_tenure_yr'].unique())
print(df['bal'].unique())

[ 6.  7.  5. 16. 12. 30. 15.  8.  4.  3. 10. 11. 13. 14. 19. 18. 25. 23.
 21. 17.  9. 27. 24. 20. 28. 22. 29. 46. 26. 32. 33. 35.  2. 38. 31. 48.
 34. 36. 51. nan 47. 49. 37. 39. 40. 55. 42. 44. 43. 50. 54. 41. 45. 52.
 62.]
[ 45105.3  110860.3   52467.79 ...  40745.   475114.69 157498.73]

In [35]:
print(df['clnt_age'].unique())
print(df['logons_6_mnth'].unique())
print(df['calls_6_mnth'].unique())
print(df['clnt_tenure_yr'].unique())
print(df['clnt_tenure_mnth'].unique())
print(df['num_accts'].unique())
print(df['bal'].unique())
print(df['gendr'].unique())
print(df['client_id'].unique())

[60.5 58.  32.  49.  33.  30.5 58.5 57.5 67.5 54.5 34.5 51.5 62.5 36.
 74.  32.5 31.  25.5 42.5 42.  30.  55.  38.  68.5 52.5 54.  63.  48.
 66.5 68.  65.  51.  46.  63.5 23.  26.5 56.5 76.5 27.5 39.5 25.  27.
 60.  66.  39.  56.  40.  52.  31.5 43.5 35.  19.  64.5 64.  22.5 33.5
 36.5 61.  40.5 72.  44.5 28.5 59.5 45.  18.  78.  50.5 29.  37.5 57.
 70.  74.5 22.  50.  53.  62.  65.5 29.5 28.  69.5 35.5 71.5 34.  38.5
 69.  43.  83.5 21.5 47.  61.5 73.5 71.  59.  21.  44.  83.  47.5 72.5
 76.  78.5 55.5 67.  41.5 20.5 75.  24.  79.  26.  41.  23.5 49.5 46.5
 45.5 48.5 24.5 75.5 80.  73.  87.  19.5 53.5 18.5 70.5 80.5 86.  37.
 85.  17.5 82.  20.  77.5 77.  79.5 88.5 96.  81.  81.5 88.  84.   nan
 94.5 89.  92.  82.5 91.5 85.5 95.5 84.5 90.  89.5 93.  90.5 87.5 93.5
 86.5 91.  17.  94.  92.5 15.5 16.  16.5 14.5 15.  14.  13.5]
[ 9.  6.  3.  5.  4.  8.  7. nan  1.  2.]
[ 6.  3.  0.  2.  1.  5.  4. nan  7.]
[ 6.  7.  5. 16. 12. 30. 15.  8.  4.  3. 10. 11. 13. 14. 19. 18. 25. 23.
 21. 17.  9. 27. 24. 20. 28. 22. 29. 46. 26. 32. 33. 35.  2. 38. 31. 48.
 34. 36. 51. nan 47. 49. 37. 39. 40. 55. 42. 44. 43. 50. 54. 41. 45. 52.
 62.]
[ 73.  94.  64. 198. 145.  71.  66. 361. 369. 189. 100.  99.  67. 193.
  58.  47. 122. 136. 101. 103.  70. 152. 160.  80.  88.  86.  65.  68.
  93.  85. 168. 142. 228. 223. 305. 286. 285. 280. 254. 253. 278. 221.
 216. 212. 204. 260. 116. 130. 177. 159. 190.  89.  91. 129. 329.  92.
  82. 169. 239.  69. 178.  95.  63. 187. 288. 261. 251. 250.  56.  60.
 123. 175. 188.  59. 336. 149. 156. 330. 155. 167.  96. 242. 163.  81.
 182. 134. 113. 172. 120. 105. 271. 244. 200. 157.  78. 151. 121. 184.
 335. 357. 111. 185.  76. 148.  97.  83. 347. 324. 162. 194.  74. 186.
 300. 289. 295. 282. 270. 246. 229. 206. 109. 343. 176. 144. 161. 179.
 106. 154. 119.  75. 166. 143. 202. 326. 298. 290. 279. 252.  57. 334.
 150.  46. 114. 174.  72. 107. 164. 131. 554. 140. 118. 292. 273. 257.
 225. 128. 135. 258. 126. 359. 210. 263. 262. 255. 214. 310. 141. 319.
 395. 108. 181. 173.  55. 203. 297. 213. 183. 115. 117. 299. 287. 269.
 222. 195. 127. 245. 110. 102.  54. 277. 276. 274. 249. 147. 153.  84.
 132. 312.  79. 146. 346. 348. 332. 170. 267. 191.  38. 205. 265. 264.
 234. 233. 208.  53. 399. 197. 139.  61. 124. 165. 236. 219. 215. 226.
 388. 421. 192. 306. 266. 240. 231. 180. 296.  87. 158. 227. 196. 199.
  34. 397.  90. 349.  42. 424. 337. 207. 104. 338. 137. 201.  62. 294.
 230. 220. 209.  49. 321. 345. 138.  33. 238. 459. 171. 355.  98. 237.
 235. 370. 352.  48. 303. 259. 218. 322. 428. 247. 241. 341. 302. 217.
 360. 385. 383. 576. 293. 243. 350. 340.  36. 256. 323. 354. 232. 318.
 313.  51.  77. 430. 420. 268. 275. 317. 339.  35. 327. 407. 301. 133.
 211. 125. 112.  43. 281.  45. 316.  40. 325. 291. 368. 384. 248. 382.
 314. 408. 284. 283. 376. 304. 309. 356. 394. 386. 311. 419. 411. 406.
 409. 464. 224. 333. 371. 358. 401. 320. 413. 375. 422. 272.  52. 342.
 307. 328. 381. 434. 353. 612. 400.  50. 344. 367. 415. 364. 374. 416.
 391. 431.  nan 423. 396. 315. 378.  44. 379. 569. 596. 393. 392.  41.
 362. 451. 439. 331. 468. 418. 442. 389.  37. 481. 366. 351. 390. 402.
 463.  39. 432. 403. 417. 461. 380. 482. 460. 372. 308. 373. 465. 404.
 412. 387. 561. 669. 429. 585. 414. 365. 427. 504. 433. 444. 456. 410.
 441. 512. 445. 539. 516. 363. 454. 589. 425. 377. 457. 443. 398. 484.
 473. 507. 475. 449. 668. 602. 405. 446. 608. 447. 440. 453. 613. 462.
 483. 479. 562. 485. 655. 448. 472. 564. 526. 532. 511. 492. 426. 593.
 455. 450. 581. 550. 624. 571. 563. 469. 661. 436. 610. 586. 535. 603.
 631. 509. 614. 466. 667. 749. 480.]
[ 2.  5.  3.  4.  6.  7. nan  1.  8.]
[ 45105.3  110860.3   52467.79 ...  40745.   475114.69 157498.73]
['U' 'M' 'F' nan 'X']
[ 836976 2304905 1439522 ... 9878184 9668240  674799]

# col. to convert to int

In [26]:
control_df = df[df['Variation'] == 'Control']
test_df = df[df['Variation'] == 'Test']
other_df = df[~df['Variation'].isin(['Control', 'Test'])]

# Display the DataFrames
print("Control DataFrame:")
print(control_df)
print("\nTest DataFrame:")
print(test_df)
print("\nOther DataFrame:")
print(other_df)

Control DataFrame:
        client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  \
11        2304905             7.0              94.0      58.0     U
12        2304905             7.0              94.0      58.0     U
13        2304905             7.0              94.0      58.0     U
14        2304905             7.0              94.0      58.0     U
15        2304905             7.0              94.0      58.0     U
...           ...             ...               ...       ...   ...
321283    6967120            21.0             260.0      68.5     M
321284    6967120            21.0             260.0      68.5     M
321285    6967120            21.0             260.0      68.5     M
321286    6967120            21.0             260.0      68.5     M
321287    6967120            21.0             260.0      68.5     M

        num_accts         bal  calls_6_mnth  logons_6_mnth Variation  \
11            2.0   110860.30           6.0            9.0   Control
12            2.0   110860.30           6.0            9.0   Control
13            2.0   110860.30           6.0            9.0   Control
14            2.0   110860.30           6.0            9.0   Control
15            2.0   110860.30           6.0            9.0   Control
...           ...         ...           ...            ...       ...
321283        3.0  4279873.38           6.0            9.0   Control
321284        3.0  4279873.38           6.0            9.0   Control
321285        3.0  4279873.38           6.0            9.0   Control
321286        3.0  4279873.38           6.0            9.0   Control
321287        3.0  4279873.38           6.0            9.0   Control

                   visitor_id                      visit_id process_step  \
11      336210275_56978226960  724930510_65323235593_692754      confirm
12      336210275_56978226960  724930510_65323235593_692754       step_3
13      336210275_56978226960  724930510_65323235593_692754       step_2
14      336210275_56978226960  724930510_65323235593_692754       step_1
15      336210275_56978226960  724930510_65323235593_692754        start
...                       ...                           ...          ...
321283  663474827_38847225720  923772865_74694577233_449836      confirm
321284  663474827_38847225720  923772865_74694577233_449836       step_3
321285  663474827_38847225720  923772865_74694577233_449836       step_2
321286  663474827_38847225720  923772865_74694577233_449836       step_1
321287  663474827_38847225720  923772865_74694577233_449836        start

                  date_time
11      2017-05-21 11:07:16
12      2017-05-21 11:04:53
13      2017-05-21 11:04:04
14      2017-05-21 11:03:31
15      2017-05-21 11:03:25
...                     ...
321283  2017-04-12 19:06:55
321284  2017-04-12 19:05:14
321285  2017-04-12 19:04:29
321286  2017-04-12 19:04:07
321287  2017-04-12 19:03:36

[143462 rows x 14 columns]

Test DataFrame:
        client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  \
0          836976             6.0              73.0      60.5     U
1          836976             6.0              73.0      60.5     U
2          836976             6.0              73.0      60.5     U
3          836976             6.0              73.0      60.5     U
4          836976             6.0              73.0      60.5     U
...           ...             ...               ...       ...   ...
321304    7468138            18.0             222.0      61.0     F
321305    7468138            18.0             222.0      61.0     F
321306    7468138            18.0             222.0      61.0     F
321307    7468138            18.0             222.0      61.0     F
321308    7468138            18.0             222.0      61.0     F

        num_accts        bal  calls_6_mnth  logons_6_mnth Variation  \
0             2.0   45105.30           6.0            9.0      Test
1             2.0   45105.30           6.0            9.0      Test
2             2.0   45105.30           6.0            9.0      Test
3             2.0   45105.30           6.0            9.0      Test
4             2.0   45105.30           6.0            9.0      Test
...           ...        ...           ...            ...       ...
321304        3.0  209278.15           0.0            3.0      Test
321305        3.0  209278.15           0.0            3.0      Test
321306        3.0  209278.15           0.0            3.0      Test
321307        3.0  209278.15           0.0            3.0      Test
321308        3.0  209278.15           0.0            3.0      Test

                   visitor_id                      visit_id process_step  \
0        427070339_1413275162   228976764_46825473280_96584      confirm
1        427070339_1413275162   228976764_46825473280_96584      confirm
2        427070339_1413275162   228976764_46825473280_96584      confirm
3        427070339_1413275162   228976764_46825473280_96584       step_3
4        427070339_1413275162   228976764_46825473280_96584       step_2
...                       ...                           ...          ...
321304  317123960_46820919455  769876461_30381166055_830233       step_2
321305  317123960_46820919455  769876461_30381166055_830233       step_1
321306  317123960_46820919455  769876461_30381166055_830233        start
321307  317123960_46820919455  769876461_30381166055_830233        start
321308  317123960_46820919455  769876461_30381166055_830233        start

                  date_time
0       2017-04-02 11:51:13
1       2017-04-02 11:47:50
2       2017-04-02 11:46:45
3       2017-04-02 11:23:08
4       2017-04-02 11:22:24
...                     ...
321304  2017-03-30 23:59:15
321305  2017-03-30 23:58:51
321306  2017-03-30 23:58:40
321307  2017-03-30 23:55:11
321308  2017-03-31 00:16:12

[177847 rows x 14 columns]

Other DataFrame:
        client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  \
321309     414870             6.0              80.0      57.0     U
321310     414870             6.0              80.0      57.0     U
321311     414870             6.0              80.0      57.0     U
321312     414870             6.0              80.0      57.0     U
321313     414870             6.0              80.0      57.0     U
...           ...             ...               ...       ...   ...
755400    9668240             NaN               NaN       NaN   NaN
755401    9668240             NaN               NaN       NaN   NaN
755402    9668240             NaN               NaN       NaN   NaN
755403    9668240             NaN               NaN       NaN   NaN
755404     674799             NaN               NaN       NaN   NaN

        num_accts        bal  calls_6_mnth  logons_6_mnth Variation  \
321309        2.0  492304.33           5.0            5.0       NaN
321310        2.0  492304.33           5.0            5.0       NaN
321311        2.0  492304.33           5.0            5.0       NaN
321312        2.0  492304.33           5.0            5.0       NaN
321313        2.0  492304.33           5.0            5.0       NaN
...           ...        ...           ...            ...       ...
755400        NaN        NaN           NaN            NaN       NaN
755401        NaN        NaN           NaN            NaN       NaN
755402        NaN        NaN           NaN            NaN       NaN
755403        NaN        NaN           NaN            NaN       NaN
755404        NaN        NaN           NaN            NaN       NaN

                   visitor_id                      visit_id process_step  \
321309  511408781_17318872574  160737585_61456249617_969953       step_3
321310  511408781_17318872574  160737585_61456249617_969953       step_2
321311  511408781_17318872574  160737585_61456249617_969953       step_1
321312  511408781_17318872574  160737585_61456249617_969953        start
321313  511408781_17318872574  319031767_80558597288_600001        start
...                       ...                           ...          ...
755400   388766751_9038881013   922267647_3096648104_968866        start
755401   388766751_9038881013   922267647_3096648104_968866        start
755402   388766751_9038881013   922267647_3096648104_968866       step_1
755403   388766751_9038881013   922267647_3096648104_968866        start
755404  947159805_81558194550   86152093_47511127657_716022        start

                  date_time
321309  2017-04-12 13:07:02
321310  2017-04-12 13:06:17
321311  2017-04-12 13:04:14
321312  2017-04-12 13:03:18
321313  2017-05-13 13:18:51
...                     ...
755400  2017-05-24 18:46:10
755401  2017-05-24 18:45:29
755402  2017-05-24 18:44:51
755403  2017-05-24 18:44:34
755404  2017-06-03 12:17:09

[434096 rows x 14 columns]

# control df

In [28]:
control_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 143462 entries, 11 to 321287
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         143462 non-null  int64
 1   clnt_tenure_yr    143420 non-null  float64
 2   clnt_tenure_mnth  143420 non-null  float64
 3   clnt_age          143408 non-null  float64
 4   gendr             143420 non-null  object
 5   num_accts         143420 non-null  float64
 6   bal               143420 non-null  float64
 7   calls_6_mnth      143420 non-null  float64
 8   logons_6_mnth     143420 non-null  float64
 9   Variation         143462 non-null  object
 10  visitor_id        143462 non-null  object
 11  visit_id          143462 non-null  object
 12  process_step      143462 non-null  object
 13  date_time         143462 non-null  object
dtypes: float64(7), int64(1), object(6)
memory usage: 16.4+ MB

In [57]:
# List of columns to check for null values
columns_to_check = ['clnt_tenure_yr', 'gendr', 'clnt_tenure_mnth', 'num_accts', 'bal', 'calls_6_mnth','clnt_age','logons_6_mnth']

# Display the number of null values in each column before dropping
null_counts = control_df[columns_to_check].isnull().sum()
print("Number of null values in each column before dropping:")
print(null_counts)
control_df1=control_df.copy()

Number of null values in each column before dropping:
clnt_tenure_yr      42
gendr               42
clnt_tenure_mnth    42
num_accts           42
bal                 42
calls_6_mnth        42
clnt_age            54
logons_6_mnth       42
dtype: int64

In [61]:
# Drop rows with null values in the specified columns
control_df1 = control_df1.dropna(subset=columns_to_check)

# Display the number of rows dropped
rows_dropped = len(df) - len(control_df1)
print("\nTotal number of rows dropped:", rows_dropped)

# Display the cleaned DataFrame
print("\nCleaned DataFrame:")
print(control_df1)

control_count = len(control_df1)

Total number of rows dropped: 611997

Cleaned DataFrame:
        client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  \
11        2304905             7.0              94.0      58.0     U
12        2304905             7.0              94.0      58.0     U
13        2304905             7.0              94.0      58.0     U
14        2304905             7.0              94.0      58.0     U
15        2304905             7.0              94.0      58.0     U
...           ...             ...               ...       ...   ...
321283    6967120            21.0             260.0      68.5     M
321284    6967120            21.0             260.0      68.5     M
321285    6967120            21.0             260.0      68.5     M
321286    6967120            21.0             260.0      68.5     M
321287    6967120            21.0             260.0      68.5     M

        num_accts         bal  calls_6_mnth  logons_6_mnth Variation  \
11            2.0   110860.30           6.0            9.0   Control
12            2.0   110860.30           6.0            9.0   Control
13            2.0   110860.30           6.0            9.0   Control
14            2.0   110860.30           6.0            9.0   Control
15            2.0   110860.30           6.0            9.0   Control
...           ...         ...           ...            ...       ...
321283        3.0  4279873.38           6.0            9.0   Control
321284        3.0  4279873.38           6.0            9.0   Control
321285        3.0  4279873.38           6.0            9.0   Control
321286        3.0  4279873.38           6.0            9.0   Control
321287        3.0  4279873.38           6.0            9.0   Control

                   visitor_id                      visit_id process_step  \
11      336210275_56978226960  724930510_65323235593_692754      confirm
12      336210275_56978226960  724930510_65323235593_692754       step_3
13      336210275_56978226960  724930510_65323235593_692754       step_2
14      336210275_56978226960  724930510_65323235593_692754       step_1
15      336210275_56978226960  724930510_65323235593_692754        start
...                       ...                           ...          ...
321283  663474827_38847225720  923772865_74694577233_449836      confirm
321284  663474827_38847225720  923772865_74694577233_449836       step_3
321285  663474827_38847225720  923772865_74694577233_449836       step_2
321286  663474827_38847225720  923772865_74694577233_449836       step_1
321287  663474827_38847225720  923772865_74694577233_449836        start

                  date_time
11      2017-05-21 11:07:16
12      2017-05-21 11:04:53
13      2017-05-21 11:04:04
14      2017-05-21 11:03:31
15      2017-05-21 11:03:25
...                     ...
321283  2017-04-12 19:06:55
321284  2017-04-12 19:05:14
321285  2017-04-12 19:04:29
321286  2017-04-12 19:04:07
321287  2017-04-12 19:03:36

[143408 rows x 14 columns]

In [63]:
control_df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 143408 entries, 11 to 321287
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         143408 non-null  int64
 1   clnt_tenure_yr    143408 non-null  float64
 2   clnt_tenure_mnth  143408 non-null  float64
 3   clnt_age          143408 non-null  float64
 4   gendr             143408 non-null  object
 5   num_accts         143408 non-null  float64
 6   bal               143408 non-null  float64
 7   calls_6_mnth      143408 non-null  float64
 8   logons_6_mnth     143408 non-null  float64
 9   Variation         143408 non-null  object
 10  visitor_id        143408 non-null  object
 11  visit_id          143408 non-null  object
 12  process_step      143408 non-null  object
 13  date_time         143408 non-null  object
dtypes: float64(7), int64(1), object(6)
memory usage: 16.4+ MB

In [67]:
#convert following columns in int

# List of columns to be converted to int control_df
cols_to_convert = ['clnt_age', 'logons_6_mnth','calls_6_mnth', 'clnt_tenure_yr','clnt_tenure_mnth', 'num_accts']

# Convert specified columns to int
control_df1[cols_to_convert] = control_df1[cols_to_convert].astype(int)

# Display the DataFrame to verify changes
print(control_df1.info())

<class 'pandas.core.frame.DataFrame'>
Index: 143408 entries, 11 to 321287
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         143408 non-null  int64
 1   clnt_tenure_yr    143408 non-null  int64
 2   clnt_tenure_mnth  143408 non-null  int64
 3   clnt_age          143408 non-null  int64
 4   gendr             143408 non-null  object
 5   num_accts         143408 non-null  int64
 6   bal               143408 non-null  float64
 7   calls_6_mnth      143408 non-null  int64
 8   logons_6_mnth     143408 non-null  int64
 9   Variation         143408 non-null  object
 10  visitor_id        143408 non-null  object
 11  visit_id          143408 non-null  object
 12  process_step      143408 non-null  object
 13  date_time         143408 non-null  object
dtypes: float64(1), int64(7), object(6)
memory usage: 16.4+ MB
None

In [71]:
# clean column gender
control_df1['gendr'].unique()

array(['U', 'F', 'M'], dtype=object)

In [85]:
control_df2 = control_df1
expected_format = 'YYYY-MM-DD HH:MM:SS'

# Check if all values match the expected format
all_match_expected_format = all(value == expected_format for value in control_df2['date_time'])

# Print the result
if all_match_expected_format:
    print("All values in the datetime column match the expected format:", expected_format)
else:
    print("Not all values in the datetime column match the expected format:", expected_format)

Not all values in the datetime column match the expected format: YYYY-MM-DD HH:MM:SS

In [99]:

control_df2['date_time'] = pd.to_datetime(control_df2['date_time'], format='%Y-%m-%d %H:%M:%S')

# Print the DataFrame to verify the conversion
print(df)

        client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  \
0          836976             6.0              73.0      60.5     U
1          836976             6.0              73.0      60.5     U
2          836976             6.0              73.0      60.5     U
3          836976             6.0              73.0      60.5     U
4          836976             6.0              73.0      60.5     U
...           ...             ...               ...       ...   ...
755400    9668240             NaN               NaN       NaN   NaN
755401    9668240             NaN               NaN       NaN   NaN
755402    9668240             NaN               NaN       NaN   NaN
755403    9668240             NaN               NaN       NaN   NaN
755404     674799             NaN               NaN       NaN   NaN

        num_accts      bal  calls_6_mnth  logons_6_mnth Variation  \
0             2.0  45105.3           6.0            9.0      Test
1             2.0  45105.3           6.0            9.0      Test
2             2.0  45105.3           6.0            9.0      Test
3             2.0  45105.3           6.0            9.0      Test
4             2.0  45105.3           6.0            9.0      Test
...           ...      ...           ...            ...       ...
755400        NaN      NaN           NaN            NaN       NaN
755401        NaN      NaN           NaN            NaN       NaN
755402        NaN      NaN           NaN            NaN       NaN
755403        NaN      NaN           NaN            NaN       NaN
755404        NaN      NaN           NaN            NaN       NaN

                   visitor_id                     visit_id process_step  \
0        427070339_1413275162  228976764_46825473280_96584      confirm
1        427070339_1413275162  228976764_46825473280_96584      confirm
2        427070339_1413275162  228976764_46825473280_96584      confirm
3        427070339_1413275162  228976764_46825473280_96584       step_3
4        427070339_1413275162  228976764_46825473280_96584       step_2
...                       ...                          ...          ...
755400   388766751_9038881013  922267647_3096648104_968866        start
755401   388766751_9038881013  922267647_3096648104_968866        start
755402   388766751_9038881013  922267647_3096648104_968866       step_1
755403   388766751_9038881013  922267647_3096648104_968866        start
755404  947159805_81558194550  86152093_47511127657_716022        start

                  date_time
0       2017-04-02 11:51:13
1       2017-04-02 11:47:50
2       2017-04-02 11:46:45
3       2017-04-02 11:23:08
4       2017-04-02 11:22:24
...                     ...
755400  2017-05-24 18:46:10
755401  2017-05-24 18:45:29
755402  2017-05-24 18:44:51
755403  2017-05-24 18:44:34
755404  2017-06-03 12:17:09

[755405 rows x 14 columns]

In [101]:
expected_format = '%Y-%m-%d %H:%M:%S'

# Check if all values match the expected format
all_match_expected_format = all(value == expected_format for value in control_df2['date_time'])

# Print the result
if all_match_expected_format:
    print("All values in the datetime column match the expected format:", expected_format)
else:
    print("Not all values in the datetime column match the expected format:", expected_format)

Not all values in the datetime column match the expected format: %Y-%m-%d %H:%M:%S

In [117]:

# Find the oldest and most recent dates
oldest_date = control_df2['date_time'].min()
most_recent_date = control_df2['date_time'].max()

# Print the oldest and most recent dates
print("Oldest Date:", oldest_date)
print("Most Recent Date:", most_recent_date)

Oldest Date: 2017-03-15 00:19:28
Most Recent Date: 2017-06-20 23:57:06

# test_df

In [30]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 177847 entries, 0 to 321308
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         177847 non-null  int64
 1   clnt_tenure_yr    177787 non-null  float64
 2   clnt_tenure_mnth  177787 non-null  float64
 3   clnt_age          177787 non-null  float64
 4   gendr             177787 non-null  object
 5   num_accts         177787 non-null  float64
 6   bal               177787 non-null  float64
 7   calls_6_mnth      177787 non-null  float64
 8   logons_6_mnth     177787 non-null  float64
 9   Variation         177847 non-null  object
 10  visitor_id        177847 non-null  object
 11  visit_id          177847 non-null  object
 12  process_step      177847 non-null  object
 13  date_time         177847 non-null  object
dtypes: float64(7), int64(1), object(6)
memory usage: 20.4+ MB

In [105]:
# List of columns to check for null values
columns_to_check = ['clnt_tenure_yr', 'gendr', 'clnt_tenure_mnth', 'num_accts', 'bal', 'calls_6_mnth','clnt_age','logons_6_mnth']

# Display the number of null values in each column before dropping
null_counts = test_df[columns_to_check].isnull().sum()
print("Number of null values in each column before dropping:")
print(null_counts)
test_df1=test_df.copy()

Number of null values in each column before dropping:
clnt_tenure_yr      60
gendr               60
clnt_tenure_mnth    60
num_accts           60
bal                 60
calls_6_mnth        60
clnt_age            60
logons_6_mnth       60
dtype: int64

In [111]:
# Drop rows with null values in the specified columns
test_df1 = test_df1.dropna(subset=columns_to_check)

# Display the number of rows dropped
rows_dropped = len(df) - len(test_df1)
print("\nTotal number of rows dropped:", rows_dropped)

# Display the cleaned DataFrame
print("\nCleaned DataFrame:")
print(test_df1)

control_count = len(test_df1)

Total number of rows dropped: 577618

Cleaned DataFrame:
        client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  \
0          836976             6.0              73.0      60.5     U
1          836976             6.0              73.0      60.5     U
2          836976             6.0              73.0      60.5     U
3          836976             6.0              73.0      60.5     U
4          836976             6.0              73.0      60.5     U
...           ...             ...               ...       ...   ...
321304    7468138            18.0             222.0      61.0     F
321305    7468138            18.0             222.0      61.0     F
321306    7468138            18.0             222.0      61.0     F
321307    7468138            18.0             222.0      61.0     F
321308    7468138            18.0             222.0      61.0     F

        num_accts        bal  calls_6_mnth  logons_6_mnth Variation  \
0             2.0   45105.30           6.0            9.0      Test
1             2.0   45105.30           6.0            9.0      Test
2             2.0   45105.30           6.0            9.0      Test
3             2.0   45105.30           6.0            9.0      Test
4             2.0   45105.30           6.0            9.0      Test
...           ...        ...           ...            ...       ...
321304        3.0  209278.15           0.0            3.0      Test
321305        3.0  209278.15           0.0            3.0      Test
321306        3.0  209278.15           0.0            3.0      Test
321307        3.0  209278.15           0.0            3.0      Test
321308        3.0  209278.15           0.0            3.0      Test

                   visitor_id                      visit_id process_step  \
0        427070339_1413275162   228976764_46825473280_96584      confirm
1        427070339_1413275162   228976764_46825473280_96584      confirm
2        427070339_1413275162   228976764_46825473280_96584      confirm
3        427070339_1413275162   228976764_46825473280_96584       step_3
4        427070339_1413275162   228976764_46825473280_96584       step_2
...                       ...                           ...          ...
321304  317123960_46820919455  769876461_30381166055_830233       step_2
321305  317123960_46820919455  769876461_30381166055_830233       step_1
321306  317123960_46820919455  769876461_30381166055_830233        start
321307  317123960_46820919455  769876461_30381166055_830233        start
321308  317123960_46820919455  769876461_30381166055_830233        start

                  date_time
0       2017-04-02 11:51:13
1       2017-04-02 11:47:50
2       2017-04-02 11:46:45
3       2017-04-02 11:23:08
4       2017-04-02 11:22:24
...                     ...
321304  2017-03-30 23:59:15
321305  2017-03-30 23:58:51
321306  2017-03-30 23:58:40
321307  2017-03-30 23:55:11
321308  2017-03-31 00:16:12

[177787 rows x 14 columns]

In [113]:
test_df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 177787 entries, 0 to 321308
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         177787 non-null  int64
 1   clnt_tenure_yr    177787 non-null  float64
 2   clnt_tenure_mnth  177787 non-null  float64
 3   clnt_age          177787 non-null  float64
 4   gendr             177787 non-null  object
 5   num_accts         177787 non-null  float64
 6   bal               177787 non-null  float64
 7   calls_6_mnth      177787 non-null  float64
 8   logons_6_mnth     177787 non-null  float64
 9   Variation         177787 non-null  object
 10  visitor_id        177787 non-null  object
 11  visit_id          177787 non-null  object
 12  process_step      177787 non-null  object
 13  date_time         177787 non-null  object
dtypes: float64(7), int64(1), object(6)
memory usage: 20.3+ MB

In [119]:
#convert following columns in int

# List of columns to be converted to int control_df
cols_to_convert = ['clnt_age', 'logons_6_mnth','calls_6_mnth', 'clnt_tenure_yr','clnt_tenure_mnth', 'num_accts']

# Convert specified columns to int
test_df1[cols_to_convert] = test_df1[cols_to_convert].astype(int)

# Display the DataFrame to verify changes
print(test_df1.info())
test_df2=test_df1.copy()

<class 'pandas.core.frame.DataFrame'>
Index: 177787 entries, 0 to 321308
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         177787 non-null  int64
 1   clnt_tenure_yr    177787 non-null  int64
 2   clnt_tenure_mnth  177787 non-null  int64
 3   clnt_age          177787 non-null  int64
 4   gendr             177787 non-null  object
 5   num_accts         177787 non-null  int64
 6   bal               177787 non-null  float64
 7   calls_6_mnth      177787 non-null  int64
 8   logons_6_mnth     177787 non-null  int64
 9   Variation         177787 non-null  object
 10  visitor_id        177787 non-null  object
 11  visit_id          177787 non-null  object
 12  process_step      177787 non-null  object
 13  date_time         177787 non-null  object
dtypes: float64(1), int64(7), object(6)
memory usage: 20.3+ MB
None

In [121]:

# Find the oldest and most recent dates
oldest_date = test_df2['date_time'].min()
most_recent_date = test_df2['date_time'].max()

# Print the oldest and most recent dates
print("Oldest Date:", oldest_date)
print("Most Recent Date:", most_recent_date)

Oldest Date: 2017-03-15 00:43:23
Most Recent Date: 2017-06-20 23:21:23

# other df

In [32]:
other_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 434096 entries, 321309 to 755404
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         434096 non-null  int64
 1   clnt_tenure_yr    128509 non-null  float64
 2   clnt_tenure_mnth  128509 non-null  float64
 3   clnt_age          128509 non-null  float64
 4   gendr             128509 non-null  object
 5   num_accts         128509 non-null  float64
 6   bal               128509 non-null  float64
 7   calls_6_mnth      128509 non-null  float64
 8   logons_6_mnth     128509 non-null  float64
 9   Variation         0 non-null       object
 10  visitor_id        434096 non-null  object
 11  visit_id          434096 non-null  object
 12  process_step      434096 non-null  object
 13  date_time         434096 non-null  object
dtypes: float64(7), int64(1), object(6)
memory usage: 49.7+ MB

In [42]:
original_count = len(df)
control_count = len(control_df)
test_count = len(test_df)
other_count = len(other_df)

# Display the counts
print("Number of rows in the original DataFrame:", original_count)
print("Number of rows in the Control DataFrame:", control_count)
print("Number of rows in the Test DataFrame:", test_count)
print("Number of rows in the Other DataFrame:", other_count)

Number of rows in the original DataFrame: 755405
Number of rows in the Control DataFrame: 143462
Number of rows in the Test DataFrame: 177847
Number of rows in the Other DataFrame: 434096

In [48]:
# null rows in all columns

# Check if there are rows with all null values in control_df
all_null_rows = control_df.isnull().all(axis=1)

# Display the rows with all null values
print("Rows in Control DataFrame with all null values:")
print(control_df[all_null_rows])

Rows in Control DataFrame with all null values:
Empty DataFrame
Columns: [client_id, clnt_tenure_yr, clnt_tenure_mnth, clnt_age, gendr, num_accts, bal, calls_6_mnth, logons_6_mnth, Variation, visitor_id, visit_id, process_step, date_time]
Index: []

In [36]:
other_df['Variation'].unique()

array([nan], dtype=object)

In [123]:
# Find the oldest and most recent dates
oldest_date = other_df['date_time'].min()
most_recent_date = other_df['date_time'].max()

# Print the oldest and most recent dates
print("Oldest Date:", oldest_date)
print("Most Recent Date:", most_recent_date)

Oldest Date: 2017-03-15 00:03:03
Most Recent Date: 2017-06-20 23:59:57

In [ ]:
#client_id: Every client's unique ID.
#variation: Indicates if a client was part of the experiment.
#visitor_id: A unique ID for each client-device combination.
#visit_id: A unique ID for each web visit/session.
#process_step: Marks each step in the digital process.
#date_time: Timestamp of each web activity.
#clnt_tenure_yr: Represents how long the client has been with Vanguard, measured in years.
#clnt_tenure_mnth: Further breaks down the client's tenure with Vanguard in months.
#clnt_age: Indicates the age of the client.
#gendr: Specifies the client's gender.
#num_accts: Denotes the number of accounts the client holds with Vanguard.
#bal: Gives the total balance spread across all accounts for a particular client.
#calls_6_mnth: Records the number of times the client reached out over a call in the past six months.
#logons_6_mnth: Reflects the frequency with which the client logged onto Vanguard's platform over the last six months.

In [ ]:

# una vez limpios para separar en 3 df


df = pd.DataFrame(data)

# Create DataFrame for 'Test'
df_test = df[df['process_step'] == 'Test']

# Create DataFrame for 'Control'
df_control = df[df['process_step'] == 'Control']

# Create DataFrame for other (nan values in 'process_step')
df_other = df[df['process_step'].isna()]

# Display the DataFrames
print("Test DataFrame:")
print(df_test)
print("\nControl DataFrame:")
print(df_control)
print("\nOther DataFrame (nan values):")
print(df_other)