# Load data and import libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import seaborn as sns

final_demo_df = pd.read_csv('/Users/marina/Desktop/project_2/data/raw/df_final_demo.txt')
final_web_data_1_df = pd.read_csv('/Users/marina/Desktop/project_2/data/raw/df_final_web_data_pt_1.txt')
final_web_data_2_df = pd.read_csv('/Users/marina/Desktop/project_2/data/raw/df_final_web_data_pt_2.txt')
final_experiment_client_df = pd.read_csv('/Users/marina/Desktop/project_2/data/raw/df_final_experiment_clients.txt')

# final demo

In [4]:
final_demo_df.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [5]:
display(final_demo_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70609 non-null  int64
 1   clnt_tenure_yr    70595 non-null  float64
 2   clnt_tenure_mnth  70595 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70595 non-null  object
 5   num_accts         70595 non-null  float64
 6   bal               70595 non-null  float64
 7   calls_6_mnth      70595 non-null  float64
 8   logons_6_mnth     70595 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB

None

# final_web_data_1

In [7]:
final_web_data_1_df.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [8]:
display(final_web_data_1_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343141 entries, 0 to 343140
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     343141 non-null  int64
 1   visitor_id    343141 non-null  object
 2   visit_id      343141 non-null  object
 3   process_step  343141 non-null  object
 4   date_time     343141 non-null  object
dtypes: int64(1), object(4)
memory usage: 13.1+ MB

None

In [9]:
final_web_data_1_df['process_step'].unique()

array(['step_3', 'step_2', 'step_1', 'start', 'confirm'], dtype=object)

# final_web_data_2

In [11]:
final_web_data_2_df

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [12]:
final_web_data_2_df.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [13]:
display(final_web_data_2_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412264 entries, 0 to 412263
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     412264 non-null  int64
 1   visitor_id    412264 non-null  object
 2   visit_id      412264 non-null  object
 3   process_step  412264 non-null  object
 4   date_time     412264 non-null  object
dtypes: int64(1), object(4)
memory usage: 15.7+ MB

None

In [14]:
final_web_data_2_df['process_step'].unique()

array(['confirm', 'step_3', 'step_2', 'step_1', 'start'], dtype=object)

# experiment_client_df

In [16]:
display(final_experiment_client_df.head())

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [17]:
final_experiment_client_df['Variation'].unique()
#df1['city'].unique()

array(['Test', 'Control', nan], dtype=object)

In [18]:
display(final_experiment_client_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  70609 non-null  int64
 1   Variation  50500 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

None

# Merge final_web_data_1 and final_web_data_2

In [20]:
# Concatenate the two DataFrames along the rows (axis=0)
merged_web_data_df = pd.concat([final_web_data_1_df, final_web_data_2_df], axis=0)
merged_web_data_df.reset_index(drop=True, inplace=True)
# Display the merged DataFrame
print(merged_web_data_df)

        client_id             visitor_id                      visit_id  \
0         9988021   580560515_7732621733  781255054_21935453173_531117
1         9988021   580560515_7732621733  781255054_21935453173_531117
2         9988021   580560515_7732621733  781255054_21935453173_531117
3         9988021   580560515_7732621733  781255054_21935453173_531117
4         9988021   580560515_7732621733  781255054_21935453173_531117
...           ...                    ...                           ...
755400    9668240   388766751_9038881013   922267647_3096648104_968866
755401    9668240   388766751_9038881013   922267647_3096648104_968866
755402    9668240   388766751_9038881013   922267647_3096648104_968866
755403    9668240   388766751_9038881013   922267647_3096648104_968866
755404     674799  947159805_81558194550   86152093_47511127657_716022

       process_step            date_time
0            step_3  2017-04-17 15:27:07
1            step_2  2017-04-17 15:26:51
2            step_3  2017-04-17 15:19:22
3            step_2  2017-04-17 15:19:13
4            step_3  2017-04-17 15:18:04
...             ...                  ...
755400        start  2017-05-24 18:46:10
755401        start  2017-05-24 18:45:29
755402       step_1  2017-05-24 18:44:51
755403        start  2017-05-24 18:44:34
755404        start  2017-06-03 12:17:09

[755405 rows x 5 columns]

In [21]:
display(merged_web_data_df['date_time'].nunique())

629363

In [22]:

display(merged_web_data_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     755405 non-null  int64
 1   visitor_id    755405 non-null  object
 2   visit_id      755405 non-null  object
 3   process_step  755405 non-null  object
 4   date_time     755405 non-null  object
dtypes: int64(1), object(4)
memory usage: 28.8+ MB

None

In [23]:
display(merged_web_data_df['process_step'].unique())
display(merged_web_data_df['process_step'].nunique())

array(['step_3', 'step_2', 'step_1', 'start', 'confirm'], dtype=object)

5

In [24]:
display(final_web_data_1_df['process_step'].unique())
display(final_web_data_1_df['process_step'].nunique())

array(['step_3', 'step_2', 'step_1', 'start', 'confirm'], dtype=object)

5

In [25]:
display(final_web_data_2_df['process_step'].unique())
display(final_web_data_2_df['process_step'].nunique())

array(['confirm', 'step_3', 'step_2', 'step_1', 'start'], dtype=object)

5

In [26]:
merged_web_data_df.select_dtypes("object").nunique().sort_values(ascending=False)

date_time       629363
visit_id        158095
visitor_id      130236
process_step         5
dtype: int64

In [27]:
final_web_data_2_df.select_dtypes("object").nunique().sort_values(ascending=False)

date_time       346697
visit_id         82841
visitor_id       71042
process_step         5
dtype: int64

In [28]:
final_web_data_1_df.select_dtypes("object").nunique().sort_values(ascending=False)

date_time       282666
visit_id         75256
visitor_id       62936
process_step         5
dtype: int64

In [29]:
merged_web_data_df=merged_web_data_df.copy()

# merge web data with  experiment client

In [31]:
merged_demo_exp_df = pd.merge(final_demo_df, final_experiment_client_df, on='client_id', how='outer')
merged_demo_exp_df.reset_index(drop=True, inplace=True)
# Display the merged DataFrame
print(merged_demo_exp_df)

       client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  num_accts  \
0         836976             6.0              73.0      60.5     U        2.0
1        2304905             7.0              94.0      58.0     U        2.0
2        1439522             5.0              64.0      32.0     U        2.0
3        1562045            16.0             198.0      49.0     M        2.0
4        5126305            12.0             145.0      33.0     F        2.0
...          ...             ...               ...       ...   ...        ...
70604    7993686             4.0              56.0      38.5     U        3.0
70605    8981690            12.0             148.0      31.0     M        2.0
70606     333913            16.0             198.0      61.5     F        2.0
70607    1573142            21.0             255.0      68.0     M        3.0
70608    5602139            21.0             254.0      59.5     F        3.0

              bal  calls_6_mnth  logons_6_mnth Variation
0        45105.30           6.0            9.0      Test
1       110860.30           6.0            9.0   Control
2        52467.79           6.0            9.0      Test
3        67454.65           3.0            6.0      Test
4       103671.75           0.0            3.0   Control
...           ...           ...            ...       ...
70604  1411062.68           5.0            5.0       NaN
70605   101867.07           6.0            6.0       NaN
70606    40745.00           3.0            3.0       NaN
70607   475114.69           4.0            4.0       NaN
70608   157498.73           7.0            7.0       NaN

[70609 rows x 10 columns]

# merge merged_demo_exp_df & merged_web_data_df

In [36]:
merged_final_df = pd.merge(merged_demo_exp_df  ,merged_web_data_df, on='client_id', how='outer')
merged_final_df.reset_index(drop=True, inplace=True)
# Display the merged DataFrame
display(merged_final_df)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,visitor_id,visit_id,process_step,date_time
0,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:51:13
1,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:47:50
2,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:46:45
3,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,step_3,2017-04-02 11:23:08
4,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,step_2,2017-04-02 11:22:24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755400,9668240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
755401,9668240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
755402,9668240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
755403,9668240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
755404,674799,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [39]:
display(merged_web_data_df['process_step'].unique())

array(['step_3', 'step_2', 'step_1', 'start', 'confirm'], dtype=object)

In [43]:
merged_final_df
display(merged_final_df['Variation'].unique())

array(['Test', 'Control', nan], dtype=object)

# export final merge in a csv file

In [51]:


# Specify the folder path
folder_path = ('../data/raw/')

# Specify the file name
file_name = 'merged_data.csv'

 #Combine the folder path and file name
file_path = os.path.join(folder_path, file_name)

# Export the DataFrame to a CSV file in the specified folder
merged_final_df.to_csv(file_path, index=False)

print(f'DataFrame exported to {file_path}')

DataFrame exported to ../data/raw/merged_data.csv